body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif; /* Use the chosen font here */
}

/* Add font-family to specific elements if needed */
.header h1,
.intro-section name,
.intro-section title,
.intro-section location,
.projects-section h2,
.project-item h3,
.project-item p,
.project-item a {
  font-family: 'Roboto', sans-serif; /* Use the chosen font here */
}
